@import 'global.css';

.fonte-20{
    font-size:  1.25rem;
}

.fonte-16{
    font-size: 1rem;
}

.texto-azul{
    color: var(--second-color)
}

.texto-branco{
    color: var(--third-color);
}

.borda-vermelha{
    border: solid var(--main-color);
}

.borda-raio{
    border-radius: 10px;
}

.cabecalho{
    gap: 2rem
}
.header-img img{
    max-width: 209px;
    width: 100vw;
    max-height: 45px;
    height: 100vh;
}

.borda-card{
    max-width: 499px;
    width: 100%;
}

.borda-input{
    max-width: 355px;
    width: 90vw;
    max-height: 69px;
    height: 80vh;
    border: solid var(--second-color);
}

.botao-login{
    max-width: 144px;
    width: 100vw;
    max-height: 56px;
    height: 100vh;
}

.botao-cadastro{
    max-width: 178px;
    width: 100vw;
    max-height: 56px;
    height: 100vh;
}
.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 1.5rem;
}

.modal-container{
    top: 0;
    border: 2px solid var(--main-color);
    width: 24.6rem;
    height: 5.75rem;
    max-width: 90%;
    opacity: 1;
    pointer-events: all; 
    border-radius: 0px 0px 10px 10px;
    background-color: var(--third-color);

}

.hide-modal{
     opacity: 0; 
    pointer-events: none; 
}

.modal-texto{
    gap: 16px;
}
.modal-texto img{
    width: 30px;
    height: 30px;
}

.modal-texto p{
    padding-top: 15px;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

footer{
    flex-shrink: 0;
    max-height: 9.93rem;
    height: 100vh;
}

@media(max-width: 500px){
    .cabecalho{
        flex-direction: column;
    }
}