@import 'global.css';

body{
    height: 100vh;
    min-height: 100vh;
}

.fonte-20{
    font-size:  1.25rem;
}

.fonte-16{
    font-size: 1rem;
}

.texto-azul{
    color: var(--second-color)
}

.texto-branco{
    color: var(--third-color);
}

.borda-vermelha{
    border: solid var(--main-color);
}

.borda-raio{
    border-radius: 10px;
}

.borda-card{
    max-width: 499px;
    width: 100%;
}

.borda-input{
    max-width: 355px;
    width: 90vw;
    max-height: 69px;
    height: 80vh;
    border: solid var(--second-color);
}

.botao-login{
    max-width: 144px;
    width: 100vw;
    max-height: 56px;
    height: 100vh;
}

.botao-cadastro{
    width: 178px;
    height: 56px;
}
.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 1.5rem;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

footer{
    max-height: 9.93rem;
    height: 100vh;
}