@import 'global.css';


/* HEADER */
.borda-vermelha{
    border: solid var(--main-color);
}

.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 1.5rem;
}

.botao-cadastro{
    max-width: 178px;
    width: 100vw;
    max-height: 56px;
    height: 100vh;
}

.borda-raio{
    border-radius: 10px;
}

.cabecalho{
    gap: 2rem
}
.cabecalho img{
    max-width: 209px;
    width: 100vw;
    max-height: 45px;
    height: 100vh;
}


/* MAIN */
.texto-azul{
    color: var(--second-color);
}

.fonte-36{
    font-size: 2.25rem;
}
.fonte-36{
    font-size: 2.25rem;
}

.fonte-24{
    font-size: 1.5rem;
}

.paragrafo{
    text-align: justify;
    margin: 0 90px;
    text-indent: 5rem;
}

/* FOOTER */

footer{
    flex-shrink: 0;
    max-height: 9.93rem;
    height: 100vh;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

.texto-branco{
    color: var(--third-color);
}

.fonte-16{
    font-size: 1rem;
}

@media(max-width: 500px){
    .cabecalho{
        flex-direction: column;
        gap:2rem;
    }
}