@import 'global.css';

.fonte-32{
    font-size: 2rem;
}

.fonte-20{
    font-size: 1.25rem;
}

.fonte-16{
    font-size: 1rem;
}

.texto-azul{
    color: var(--second-color)
}

.texto-branco{
    color: var(--third-color);
}
.texto-preto{
    color: var(--fourth-color)
}

.fundo-vermelho{
    background-color: var(--main-color);
}

.fundo-azul{
    background-color: var(--second-color);
}

.borda-vermelha{
    border: solid var(--main-color);
}

.borda-raio{
    border-radius: 10px;
}

.borda-card{
    width: 31.19rem;
}

.borda-input{
    max-width: 22.19rem;
    width: 100vw;
    height: 4.31rem;
    border: solid var(--second-color);
}

.botao-login{
    width: 9rem;
    height: 3.5rem;
}

.botao-cadastro{
    width: 11.1rem;
    height: 3.5rem;
}
.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 1.5rem;
}

.cabecalho{
    gap: 2rem
}
.cabecalho img{
    max-width: 209px;
    width: 100vw;
    max-height: 45px;
    height: 100vh;
}

.gap-main{
    gap:80px
}

.modal-container{
    top: 0;
    border: 2px solid var(--main-color);
    width: 24.6rem;
    height: 5.75rem;
    max-width: 90%;
    opacity: 1;
    pointer-events: all; 
    border-radius: 0px 0px 10px 10px;
    background-color: var(--third-color);

}

.hide-modal{
    opacity: 0; 
    pointer-events: none; 
}

.modal-texto{
    gap: 16px;
}
.modal-texto img{
    width: 30px;
    height: 30px;
}

.modal-texto p{
    padding-top: 15px;
}

.inserir-noticia{
    max-width: 1001px;
    width: 100vw;
    min-height: 716px;
    margin-top: 105px;
    /* border-radius: 20px; */
    gap:57px;
}

.titulo-noticia input{
    max-width: 839px;
    width: 90vw;
    max-height: 92px;
    height: 100vh;
    outline: none;
}

.conteudo-noticia textarea::placeholder{
    color: var(--fourth-color);
}

.titulo-noticia input::placeholder{
    color: var(--fourth-color);
    font-size: 1.5rem;
}

.conteudo-noticia textarea{
    max-width: 839px;
    width: 90vw;
    min-height: 453px;
    resize: none;
    outline: none;
}

.span-erro{
    color: var(--main-color);
    font-size: 1rem;
}

.span-exibir{
    opacity: 1;
}

.botoes{
    gap: 4.88rem;
}

footer{
    flex-shrink: 0;
    max-height: 9.93rem;
    height: 100vh;
}

@media(max-width: 500px){
    .cabecalho{
        flex-direction: column;
    }
    .botoes{
        flex-direction: column-reverse;
        gap: 2rem;
    }
}