@import 'global.css';

.fonte-20{
    font-size: 20px;
}

.fonte-16{
    font-size: 16px;
}
.fonte-24{
    font-size: 24px;
}

.texto-azul{
    color: var(--second-color)
}

.texto-branco{
    color: var(--third-color);
}

.borda-vermelha{
    border: solid var(--main-color);
}

.borda-raio{
    border-radius: 10px;
}

.botao-cadastro{
    width: 178px;
    height: 56px;
}
.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 24px;
}

.img-gap{
    gap: 4.37rem;
}

.sobre p{
    max-width: 34.37rem;
    width: 100vw;
    text-align: justify;
    text-indent: 3rem;
}

.texto-preto{
    color: var(--fourth-color)
}
.texto-azul{
    color: var(--second-color)
}
.sobre img{
    max-width: 43.75rem;
    width: 100vw;
    height: 31.37rem;
    
}
.sobre-2 img{
    max-width: 38.75rem;
    width: 100vw;
    height: 31.87rem;
}

.sobre-2 p{
    max-width: 39rem;
    width: 100vw;
    text-align: justify;
    text-indent: 3rem;
}
.fonte-36{
    font-size: 2.25rem;
}

footer{
    height: 159px;
}
.fundo-vermelho{
    background-color: var(--main-color);
}