@import 'global.css';

.fonte-20{
    font-size: 20px;
}

.fonte-16{
    font-size: 1rem;
}

.texto-azul{
    color: var(--second-color)
}

.texto-branco{
    color: var(--third-color);
}

.borda-vermelha{
    border: solid var(--main-color);
}

.borda-raio{
    border-radius: 10px;
}

.botao-cadastro{
    width: 178px;
    height: 56px;
}
.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
    font-size: 24px;
}

.teste{
    margin-bottom: 0;
}

/* MAIN */
body{
    overflow-x: hidden; 
}

.fonte-18{
    font-size: 1.12rem;
}
.fonte-preta{
    color: var(--fourth-color);
}

.fonte-40{
    font-size: 2.5rem;
}

.banner img{
    max-width: 90.62rem;
    width: 99vw;
    margin-top: 0;
}
.quem-somos{
    gap: 5.87rem;
}

.botao-branco{
    color: var(--second-color);
}

.quem-somos img{
    max-width: 43.75rem;
    width: 100vw;
}

.quem-somos-content{
    max-width: 32.37rem;
    width: 90vw;
    gap: 1.5rem;
}

.charge-c1 img{
    max-width: 42.19rem;
    width: 100vw;
}
.charge-c2 img{
    max-width: 37.5rem;
    width: 100vw;
}



.fundo-vermelho{
    background-color: var(--main-color);
}

footer{
    height: 159px;
}