@import 'global.css';

/* HEADER */
.fonte-24{
    font-size: 1.5rem;
}
.borda-vermelha{
    border: solid var(--main-color);
}

.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
}

.botao-cadastro{
    width: 11.12rem;
    height: 3.5rem;
}

.borda-raio{
    border-radius: 10px;
}

.botao-usuario{
    width: 12.5rem;
    height: 3.5rem;
}
.cabecalho{
    gap: 2rem
}
.cabecalho img{
    max-width: 209px;
    width: 100vw;
    max-height: 45px;
    height: 100vh;
}

/* MAIN */

.fundo-azul{
    background-color: var(--second-color);
}

.h4-largura{
    max-width: 1074px;
    width: 80vw;
    height: 5.57rem;
}

.largura{
    max-width: 1160px;
    width: 80vw;
}

.gap-botoes{
    gap: 70%;
}

.hide-modal{
    opacity: 0; 
    pointer-events: none; 
}
/* .botao-post{
    position: absolute;
    left: 18%;
}
.botao-usuario{
    position: absolute;
    right: 25.5%;
} */


.funcoes img{
    width: 3.75rem;
    height: 3.75rem;
}


.teste{
    flex:1
}

/* MODAL */
.modal-container{
    top: 0;
    border: 2px solid var(--main-color);
    width: 24.6rem;
    height: 5.75rem;
    max-width: 90%;
    opacity: 1;
    pointer-events: all; 
    border-radius: 0px 0px 10px 10px;
    background-color: var(--third-color);

}

.hide-modal{
    opacity: 0; 
   pointer-events: none; 
}

.modal-texto{
   gap: 16px;
}
.modal-texto img{
   width: 30px;
   height: 30px;
}

.modal-texto p{
   padding-top: 15px;
}


/* FOOTER */

footer{
    flex-shrink: 0;
    max-height: 9.93rem;
    height: 100vh;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

.texto-branco{
    color: var(--third-color);
}

.fonte-16{
    font-size: 1rem;
}



@media(max-width:1000px){
    .botoes-todas{
        max-width: 600px;
    }
}
@media(max-width:700px){
    .botoes-todas{
        max-width: 200px;
    }
    .card-noticia{
        flex-direction: column;
    }
}

@media(max-width: 500px){
    .cabecalho{
        flex-direction: column;
        gap:2rem;
    }
    .botoes-todas{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}