@import 'global.css';

html, body {
    height: 100%;
    margin: 0;
}

/* HEADER */
.fonte-24{
    font-size: 1.5rem;
}
.borda-vermelha{
    border: solid var(--main-color);
}

.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
}

.botao-cadastro{
    width: 11.12rem;
    height: 3.5rem;
}

.borda-raio{
    border-radius: 10px;
}

.botao-usuario{
    width: 12.5rem;
    height: 3.5rem;
}

/* MAIN */

.fundo-azul{
    background-color: var(--second-color);
}

.h4-largura{
    max-width: 1074px;
    width: 80vw;
    height: 5.57rem;
}

.largura{
    max-width: 1160px;
    width: 80vw;
}

.gap-botoes{
    gap: 60%;
}
/* .botao-post{
    position: absolute;
    left: 18%;
}
.botao-usuario{
    position: absolute;
    right: 25.5%;
} */


.funcoes img{
    width: 3.75rem;
    height: 3.75rem;
}


.teste{
    flex:1
}

/* FOOTER */

footer{
    height: 9.93rem;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

.texto-branco{
    color: var(--third-color);
}

.fonte-16{
    font-size: 1rem;
}