@import 'global.css';

html, body {
    height: 100%;
    margin: 0;
}

/* HEADER */
.fonte-24{
    font-size: 1.5rem;
}
.borda-vermelha{
    border: solid var(--main-color);
}

.botao-estilo{
    background-color: var(--main-color);
    color: var(--third-color);
}

.botao-cadastro{
    width: 11.12rem;
    height: 3.5rem;
}

.borda-raio{
    border-radius: 10px;
}

.botao-usuario{
    width: 12.5rem;
    height: 3.5rem;
}

/* MAIN */

.fundo-azul{
    background-color: var(--second-color);
}

.h4-largura{
    max-width: 1074px;
    width: 80vw;
    height: 5.57rem;
}

.largura{
    max-width: 1160px;
    width: 80vw;
}

.gap-botoes{
    gap: 60%;
}
/* .botao-post{
    position: absolute;
    left: 18%;
}
.botao-usuario{
    position: absolute;
    right: 25.5%;
} */


.funcoes img{
    width: 3.75rem;
    height: 3.75rem;
}


.teste{
    flex:1
}

/* MODAL */
.modal-container{
    top: 0;
    border: 2px solid var(--main-color);
    width: 24.6rem;
    height: 5.75rem;
    max-width: 90%;
    opacity: 1;
    pointer-events: all; 
    border-radius: 0px 0px 10px 10px;
    background-color: var(--third-color);

}

.hide-modal{
    opacity: 0; 
   pointer-events: none; 
}

.modal-texto{
   gap: 16px;
}
.modal-texto img{
   width: 30px;
   height: 30px;
}

.modal-texto p{
   padding-top: 15px;
}


/* FOOTER */

footer{
    height: 9.93rem;
}

.fundo-vermelho{
    background-color: var(--main-color);
}

.texto-branco{
    color: var(--third-color);
}

.fonte-16{
    font-size: 1rem;
}